doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title slack deletron
		meta(name="keywords" content="Slack, Deletron, Slack Deletron, Delete Slack Files")
		meta(name="description" content="A tool to help delete those cat gifs and other weird files from your Slack team")
		meta(name="author" content="Drew Minns")
		meta(property="og:title" content="Slack Deletron")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://www.slackdeletron.com")
		meta(property="og:image" content="http://www.slackdeletron.com/images/fileshare.jpg")
		meta(property="og:site_name" content="Slack Deletron")
		meta(property="og:description" content="A tool to help delete those cat gifs and other weird files from your Slack team")
		meta(name="twitter:card" content="summary" )
		meta(name="twitter:site" content="@drewisthe" )
		meta(name="twitter:title" content="Slack Deletron" )
		meta(name="twitter:description" content="A tool to help delete those cat gifs and other weird files from your Slack team" )
		meta(name="twitter:image" content="http://www.slackdeletron.com/images/fileshare.jpg" )
		link(rel='icon', href='images/favicon.png', type='image/png')
		link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='styles/main.css')
	body
		header.home-intro
			.wrapper
				h1 slack deletron
				p.lead delete those cat gifs and other weird files
				button.login
					a(href="auth/slack") login with slack
		section.content
			.wrapper
				.leftcontent
					h2 Slack rules and is great for teams. 
					p
						a(href="http://i.giphy.com/m4dxDLChOTGFy.gif") Funny animal gifs
						|  are really great, however they can quickly bog down the storage on your Slack account.
					p
						| Slack Deletron allows you to search and delete the files that you have put on your Slack team account.
					p
						| If you are an admin on your team, you can delete not only your files, but all public files on your team!
				.rightcontent
					img(src="images/screen.jpg")
		section.faq
			.wrapper
				h2 Hi, you probably have questions
				.questionContainer
					p.question
						| Did Slack build this?
					p.answer
						| Nope, 
						a(href="http://drewminns.com") I did.
						|  and I hope they love it cause they build great products!
				.questionContainer
					p.question
						| It says that I don't have permission to add this to my Slack?
					p.answer
						| Admins can choose whether team members can add third-party integrations to a Slack Team. If they've turned off permissions, you'll have to ask them to turn them back on for you!
				.questionContainer
					p.question
						| Something isn't working! I wanna help make it better
					p.answer
						| Help me out! You can submit issues 
						a(href="https://github.com/drewminns/slack/issues") here 
						|  to help me work out the kinks. If you want to help make the product better, roll up your sleeves, 
						a(href="hhttps://github.com/drewminns/slack") fork the code 
						|  and go to town! 

		footer.home
			.wrapper
				p
					a(href='http://twitter.com/drewisthe') drew minns
					|  built this
				p
					a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.slackdeletron.com', data-text='Delete unwanted files from your Slack Team', data-via='drewisthe') Tweet
					script.
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
						(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
						(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
						m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
						})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

						ga('create', 'UA-76483887-1', 'auto');
						ga('send', 'pageview');

		
				
